accelerate
anthropic
bitsandbytes
datasets
huggingface_hub
matplotlib
numpy
openai
pandas
peft
scikit-learn
scipy
seaborn
sentence-transformers
tensorboard
textblob
torch
tqdm
transformers
vaderSentiment
